* {
  box-sizing: border-box;
}

body {
  background-color: #009060;
  background: #000000; 
  background: -webkit-linear-gradient(to right, #434343, #000000); 
  background: linear-gradient(to right, #434343, #000000); 
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background: #093028;  
  background: -webkit-linear-gradient(to right, #237A57, #093028);  
  background: linear-gradient(to right, #237A57, #093028); 
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bolder;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}
.user-form input::placeholder {
  color: #eee;
  font-weight: bolder;
  font-size: 1.2rem;
}

.user-form input:focus {
  outline: none;
}
.card {
  max-width: 800px;
  background-color: #00bd7e; 
  font-family : Arial;
  font-size : 1.3rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  line-height: 1.4rem;
  margin: 0 1.2rem;
}
.avatar {
  border-radius: 50%;
  border: 10px solid #009060;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}
