* {
  box-sizing: border-box;
}

body {
  background-color: #009060;
  background: #000000; 
  background: -webkit-linear-gradient(to right, #434343, #000000); 
  background: linear-gradient(to right, #434343, #000000); 
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
